@use '@/styles/base/variables' as *;


.filters {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  list-style-type: none;
  margin: 3rem 0;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-basis: 33.3333%;
  max-width: 33.3333%;
  list-style-type: none;
  gap: 1rem;
  border: 1px solid grey;

  button {
    padding: .5rem;
    width: 100%;
  }

  button.active {
    background: pink;
  }

  button:not(.active) {
    background :white;
  }
}
