@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Space+Grotesk:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


:root {
  --SpaceGrotesk: 'Space Grotesk', sans-serif;
  --Roboto: 'Roboto', sans-serif;
  --FiraCode: 'Fira Code', monospace;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-shadow: none;
  font-display: swap;
}


body {
  font-family: system-ui;
  background: #f7f7f7;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.05rem;
}